* {
	box-sizing: border-box;
}
body {
	background: lightsteelblue;
}

/*

#header-nav {
	background-color: white;
	padding: 0;
}
#logo_brand {
	gap: 20px;
}
#logo {
	background: url('../images/logo.JPG') no-repeat;
	width: 100px;
	height: 100px;
}
#brand-name {
	font-size: 1.5em;
	font-weight: bolder;
	color: darkorange;
	text-shadow: 1px 1px 2px black;
}
#navbarsExample07 {
	justify-content: center;
}	*/



/* ------------------ CODE4EDUCATION-4------------------- */

.box {
	display: flex;
	background-color: gold;
	color: darkred;
	font-size: 1.5em;
	font-weight: bold;
	height: 100px;
	border: 3px solid darkred;
	margin-bottom: 10px;
}